<div class="signup">
    <div class="form">


        <tr>
            <td>
                <label for="lblUserName">User Name</label>
            </td>
            <td>
                <input [(ngModel)]="myUserName" name="myUserName" type="text" maxlength="60" style="width: 300px;" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="lblPassword">Password</label>
            </td>
            <td>
                <input [(ngModel)]="myPassword" name="myPassword" type="password" maxlength="60" style="width: 300px;" />
            </td>
        </tr>

        <div>
        <tr>
            <label id="lblName">{{errorMsg}}</label>
        </tr>
        </div>
        <br>
        <div id="buttonDiv">
            <button class="buttonClass" (click)="login($event)">Login</button>
            <button class="buttonClass" (click)="signup()">Sign Up</button>
        <br>

            
        </div>